<div class="meni"><a routerLink="../konobar" (click)="navigate()">Profil</a> | <a routerLink="../konobar-rezervacije" (click)="naRezervacije()">Rezervacije</a> | <a routerLink="../konobar-dostave" (click)="naDostave()">Dostave</a> | <a routerLink="../staistika" (click)="naStatistiku()">Statistika</a> |
</div>
<button (click)="odjava()">Odjavi se</button>
<div [hidden]="pocetna==false">
  <img [src]="slika"> <button (click)="naSliku()">Izmeni</button><br>
  Ime:{{konobar.ime}} <button (click)="naIme()">Izmeni</button><br>
  Prezime:{{konobar.prezime}}  <button (click)="naPrezime()">Izmeni</button><br>
  Mejl:{{konobar.email}} <button (click)="naMejl()">Izmeni</button><br>
  Telefon: {{konobar.kontakt_telefon}} <button (click)="naTelefon()">Izmeni</button><br>
  Adresa:{{konobar.adresa}} <button (click)="naAdresu()">Izmeni</button><br>
  </div>
  <div [hidden]="zaslika==false">
  <input type="file" (change)="naPromenuFajla($event)" accept="image/png, image/jpeg" #fileInput> {{porukaAzuriranje}}<br>
  <button [disabled]="dozvoli==false" (click)="azurirajSliku()">Azuriraj</button>
  </div>
  <div [hidden]="ime==false">
  <input type="text" [(ngModel)]="novoIme"><br>
  <button (click)="azurirajIme()">Azuriraj</button>
  </div>
  <div [hidden]="prezime==false">
  <input type="text" [(ngModel)]="novoPrezime"><br>
  <button (click)="azurirajPrezime()">Azuriraj</button>
  </div>
  <div [hidden]="mejl==false">
  <input type="text" [(ngModel)]="noviMail"><br>
  <button (click)="azurirajMejl()">Azuriraj</button>
  {{porukaAzuriranje}}
  </div>
  <div [hidden]="telefon==false">
  <input type="text" [(ngModel)]="noviTelefon"><br>
  <button (click)="azurirajTelefon()">Azuriraj</button>
  {{porukaAzuriranje}}
  </div>
  <div [hidden]="adresa==false">
  <input type="text" [(ngModel)]="novaAdresa"><br>
  <button (click)="azurirajAdresu()">Azuriraj</button>
  </div>


