Korpa korisnika {{korisnik.korisnicko_ime}} zaa restoran {{restoran.naziv}}<button (click)="nazad()">Nazad</button>
<div *ngIf="jela.length>0; else poruka">
<table>
  <tr>
    <th>Naziv jela</th>
    <th>Cena</th>
    <th>Slika</th>
    <th>Sastojci</th>
    <th>Količina</th>
  </tr>
  <tr *ngFor="let j of jela">
    <td>{{j.naziv}}</td>
    <td>{{j.cena}} din</td>
    <td><img [src]="j.slika" width="100" height="100"></td>
    <td>{{j.sastojci}}</td>
    <td>{{j.kolicina}}</td>
    <td><button (click)="izbaciIzKorpe(j)">Izbaci iz korpe</button></td>
</table>
<button (click)="naruci()">Naruči</button>
{{cena}}
</div>
<ng-template #poruka>
  <h2>Vaša korpa je prazna</h2>
</ng-template>
