<button (click)="odjava()">Odjava</button><br>
<button (click)="nazad()">Nazad</button><br>
<table class="tabela-stil">
  <tr>
    <th>Naziv</th>
    <th>Adresa</th>
    <th>Tip</th>
    <th>Konobari</th>
    <th>Ocena</th>
    <th>zvezdice</th>
  </tr>
  <tr *ngFor="let r of restorani">
    <td><a routerLink="../restorani" (click)="idiNaRestoran(r)">{{r.naziv}}</a></td>
    <td>{{r.adresa}}</td>
    <td>{{r.tip}}</td>
    <td><div *ngFor="let k of r.konobari">{{k.ime}} {{k.prezime}}</div></td>
    <td>{{r.prosecnaOcena | number:'1.1-1'}}</td>
    <td>
      <div>
        <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [class.filled]="i < r.prosecnaOcena">&#9733;</span>
      </div>
    </td>
  </tr>
</table><br>
Sortitaj <input type="radio" name="sort" [(ngModel)]="sort" [value]="true"> neopadajuće <input type="radio" name="sort" [(ngModel)]="sort" [value]="false"> nerastuće<br>
restorane po:
<button (click)="naziv()">Nazivu</button> <button (click)="adresa()">Adresi</button> <button (click)="tip()">Tipu</button><br>
<hr>Pretraži restorane:<br>
<input [(ngModel)]="pretragaIme" placeholder="Pretraži po imenu">
<input [(ngModel)]="pretragaAdresa" placeholder="Pretraži po adresi">
<input [(ngModel)]="pretragaTip" placeholder="Pretraži po tipu">
<button (click)="pretraziRestorane()">Pretraži</button>
<table class="tabela-stil">
  <tr *ngFor="let r of filtriraniRestorani">
    <td>{{r.naziv}}</td>
    <td>{{r.adresa}}</td>
    <td>{{r.tip}}</td>
</table>
<hr>
